* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "RuhlR";
  src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
  font-family: "RuhM";
  src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
  font-family: "Vibes";
  src: url(./fonts/GreatVibes-Regular.ttf);
}

html {
  font-size: 62.5%;
  --header1: calc(3.5rem + 1vw);
  --header2: calc(3rem + 1vw);
  --header3: calc(2.4rem + 1vw);
  --header4: calc(2rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --bigtext: calc(4rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1);
}

p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: var(--header4);
}

body {
  font-family: "RuhlR", sans-serif;
  -webkit-animation: open 1s ease-in-out forwards;
          animation: open 1s ease-in-out forwards;
}

h1 {
  font-family: "Vibes", sans-serif;
}

.main-header {
  width: 100%;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  min-height: 10vh;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.hero-right {
  background: -webkit-gradient(linear, left top, left bottom, from(#d8caca), to(#414141));
  background: linear-gradient(#d8caca, #414141);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

.hero-elena {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.hero-left p {
  padding: 10rem 10rem;
  color: #999696;
}

.hero-left h1 {
  padding: 0rem 10rem;
}

.hero-left h2 {
  padding: 0.5rem 10rem;
}

.hero-left a {
  padding: 10rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: solid black;
}

.plant {
  position: absolute;
  -webkit-transform: translateY(20%) rotateZ(15deg);
          transform: translateY(20%) rotateZ(15deg);
  animation: flower 2s 1s ease-in-out alternate forwards, flowers-move 2s 3s ease-in-out alternate-reverse infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: -1;
  left: -10%;
  top: 10%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  background-color: #a7a7a7;
}

.left-image {
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

.left-image h1 {
  position: absolute;
  top: 5rem;
  left: 50%;
  font-size: 8rem;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  letter-spacing: 3rem;
  font-family: "Vibes", sans-serif;
}

.white-hair-girl {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15rem;
}

.right-text h2 {
  padding: 10rem;
  text-align: center;
  font-family: "Vibes", sans-serif;
  font-size: 10rem;
}

.right-text h3 {
  padding-top: 5rem;
}

@media screen and (max-width: 850px) {
  .hero-left a {
    padding: 2rem 4rem;
    margin-bottom: 2rem;
  }
  .hero-left p {
    padding: 5rem;
  }
  .hero-left h2 {
    margin-top: 5rem;
    padding-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero {
    width: 100%;
  }
  #logo {
    -ms-flex-preferred-size: 7rem;
        flex-basis: 7rem;
    font-size: 2rem;
  }
  .nav-links li a {
    font-size: 2rem;
  }
  .right-text h2 {
    padding: 5rem;
  }
  .text {
    padding: 2rem;
  }
  .text h2 {
    padding: 2rem;
    font-size: 5rem;
  }
  .text h3 {
    padding-top: 5rem;
  }
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }
  .gallery {
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact {
  min-height: 100vh;
}

.main-contact {
  height: 90vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.endfooter {
  background-color: black;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.endfooter p {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 10%;
}

.social-pic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form h2 {
  padding: 30rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 10rem;
}

.contact-form input {
  height: 4rem;
  width: 50rem;
  padding: 2rem 0;
  margin: 1rem 0;
  background-color: #e4d0f1;
  border-style: none;
}

.contact-form button {
  padding: 2rem 8rem;
  margin-top: 4rem;
  color: white;
  background: #d192d1;
  border-style: none;
  border-radius: 5%;
  font-size: 3rem;
}

.contact-pic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: transparent;
}

#contact-picc {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
}

@-webkit-keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes flower {
  from {
    -webkit-transform: translateY(20%) rotateZ(15deg);
            transform: translateY(20%) rotateZ(15deg);
  }
  to {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
}

@keyframes flower {
  from {
    -webkit-transform: translateY(20%) rotateZ(15deg);
            transform: translateY(20%) rotateZ(15deg);
  }
  to {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
}

@-webkit-keyframes flowers-move {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes flowers-move {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */