*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face{
    font-family: "RuhlR";
    src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face{
    font-family: "RuhM";
    src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face{
    font-family: "Vibes";
    src: url(./fonts/GreatVibes-Regular.ttf);
}
html{
    font-size: 62.5%;
    --header1: calc(3.5rem + 1vw);
    --header2: calc(3rem + 1vw);
    --header3: calc(2.4rem + 1vw);
    --header4: calc(2rem + 1vw);

    --text: calc(1.5rem + 1vw);
    --bigtext: calc(4rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}

h1{
    font-size: var(--header1);
}
p{
    font-size: var(--text);
}
h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
}
h4,
h5{
    font-size: var(--header4);
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    font-size: var(--header4);
}
body{
    font-family: "RuhlR", sans-serif;
    animation: open 1s ease-in-out forwards;
}
h1{
    font-family: "Vibes", sans-serif;
}
.main-header{
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    z-index: 2;
    position: relative;
    
}
nav{
    display:flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    width:90%;
    min-height: 10vh;
    
    
}

#logo{
   
    flex: 1 1 20rem;
}
.nav-links{
    flex: 1 1 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.hero{
    display:flex;
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    flex-wrap: wrap;
    overflow: hidden;
}
    

.hero-right{
    background: linear-gradient(#d8caca, #414141);
    flex: 1 1 40rem;
    display: flex;
    position: relative;
    z-index: 1;
    
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 2 1 40rem;
   
}
.hero-elena{
    width: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 3;
}
.hero-left p{
    padding: 10rem 10rem;
    color: rgb(153, 150, 150);
}
.hero-left h1{
    padding: 0rem 10rem;
}
.hero-left h2{
    padding: 0.5rem 10rem;
}
.hero-left a{
    
    padding: 10rem;
    align-self: center;
    border: solid black;
    
}
.plant{
    position: absolute;
    transform: translateY(20%) rotateZ(15deg);
    animation: flower 2s 1s ease-in-out alternate forwards, flowers-move 2s 3s ease-in-out alternate-reverse infinite;
    transform-origin: bottom;
    z-index: -1;
    left:-10%;
    top:10%;
    
}
.about{
    display:flex;
    max-height: 100vh;
    flex-wrap: wrap;
    
}
.right-text{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex: 1 1 50rem;
    background-color: (#a7a7a7);
}
.left-image{
    min-height: 100%;
    flex: 1 1 40rem;
    position: relative;
}
.left-image h1{
    position: absolute;
    top:5rem;
    left:50%;
    font-size: 8rem;
    transform:translate(-50%,20%);
    letter-spacing: 3rem;
    font-family: "Vibes", sans-serif;
}
.white-hair-girl{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    
}
.text{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
    padding: 15rem;
    
}
.right-text h2{
    padding: 10rem;
    text-align: center;
    font-family: "Vibes", sans-serif;
    font-size: 10rem;
    
}
.right-text h3{
    padding-top:5rem;
}





//mediaque
@media screen and (max-width: 850px){
    .hero-left a{
        padding: 2rem 4rem;
        margin-bottom: 2rem;
    }
    .hero-left  p{
        padding: 5rem;
       
    }
    .hero-left h2{
        margin-top: 5rem;
        padding-bottom: 0;
        align-self: center;
        
    }
    .hero{
        width: 100%;
    }
    #logo{
        flex-basis: 7rem;
        font-size: 2rem;
    }
    .nav-links li a {
        font-size: 2rem;
    }
    .right-text h2{
        padding: 5rem;
        
        
    }
    .text{
        padding:2rem;
    }
    .text h2{
        padding:2rem;
        font-size: 5rem;
    }
    .text h3{
        padding-top: 5rem;
    }
    .gallery img{
        grid-row: auto;
        grid-column: auto;
    }
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    }
}

.gallery{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
   
  
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery1{
    grid-column: 1/3;
}
.gallery2{
    grid-row: 1/3;
    grid-column: 3/4;
}

.contact{
    min-height: 100vh;
}
.main-contact{
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row-reverse;
}
.endfooter{
    background-color: black;
    min-height: 10vh;
    display:flex;
    align-items: center;
    
}
.endfooter p{
    color:white;
    flex: 1 1 50%;
    margin-left: 10%;
    
    
}
.social-pic{
    flex: 1 1 50%;
    justify-content: space-around;
    display:flex;
    margin-right: 10%;

    

}
.contact-form{
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    align-items: center;
    
}
.contact-form h2{
    padding: 30rem 0;
    align-self: center;
    font-size: 10rem;
}
.contact-form input{
    height: 4rem;
    width: 50rem;
    padding: 2rem 0;
    margin: 1rem 0;
    background-color:rgb(228, 208, 241);
    border-style: none;
}

.contact-form button{
   padding: 2rem 8rem;
   margin-top: 4rem;
   color:rgb(255, 255, 255);
   background: rgb(209, 146, 209);
   border-style: none;
   border-radius: 5%;
   font-size: 3rem;
}
.contact-pic{
    flex: 1 1 50%;
   color:transparent;
   
}
#contact-picc{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.right-form{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}



//anim

@keyframes open{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes flower{
    from{
        transform: translateY(20%) rotateZ(15deg);
    }
    to{
        transform: translateY(0) rotateZ(0);
    }
}
@keyframes flowers-move{
    from{
        transform: translateX(5%);
    }
    to{
        transform:translateX(0);
    }
}